.ranking-table th, .ranking-table td {
  text-align: center;
  vertical-align: middle;
}

.point-denominator {
  font-size: 0.7em;
}

.user-points {
  font-weight: bold;
  color: black;
}

.failed-score {
  font-weight: bold;
  color: red;
}

.partial-score {
  color: green;
}

.full-score {
  font-weight: bold;
  color: green;
}

.pending-score {
  font-weight: bold;
  color: #fd7e14;
}
